#wrapper-carousel
  .container
    %h3.main-title.white.center ¿Qué hacemos en Decathlon por el medio ambiente?
    .carousel
      %a.item{:href => "#"}
        %span.hex_1
          %span.hex_2
            %span.hex_3
              %span.content_inner{:style => "background-image: url(images/item-carousel-1.jpg);"}
        .caption
          Huella de Carbono
      %a.item{:href => "#"}
        %span.hex_1
          %span.hex_2
            %span.hex_3
              %span.content_inner{:style => "background-image: url(images/item-carousel-2.jpg);"}
        .caption
          Reciclado
      %a.item{:href => "#"}
        %span.hex_1
          %span.hex_2
            %span.hex_3
              %span.content_inner{:style => "background-image: url(images/item-carousel-3.jpg);"}
        .caption
          Reutilización - Trocathlon
      %a.item{:href => "#"}
        %span.hex_1
          %span.hex_2
            %span.hex_3
              %span.content_inner{:style => "background-image: url(images/item-carousel-4.jpg);"}
        .caption
          Etica de producción
      %a.item{:href => "#"}
        %span.hex_1
          %span.hex_2
            %span.hex_3
              %span.content_inner{:style => "background-image: url(images/item-carousel-3.jpg);"}
        .caption
          Reutilización - Trocathlon
      %a.item{:href => "#"}
        %span.hex_1
          %span.hex_2
            %span.hex_3
              %span.content_inner{:style => "background-image: url(images/item-carousel-4.jpg);"}
        .caption
          Etica de producción
