%section#wrapper-footer
  .section.bg-green
    .container.row
      .menu-footer.col-sm-9
        %ul
          %li
            %a{:href => ""} Blog medioambiente
          %li
            %a{:href => ""} Fundación Decathlon
          %li
            %a{:href => ""} Sostenibilidad Internacional
      .social-footer.col-sm-3
        %ul
          %li
            %a.icon-twitter{:href => ""}
          %li
            %a.icon-facebook{:href => ""}
          %li
            %a.icon-youtube{:href => ""}
          %li
            %a.icon-instagram{:href => ""}
  .section.bg-dark-green
    .container.row
      .second-menu-footer.col-sm-12
        %ul
          %li
            %a{:href => ""} Decathlon.es
          %li
            %a{:href => ""} Trabaja con nosotros
          %li
            %a{:href => ""} RSC
          %li
            %a{:href => ""} Grupo Decathlon
          %li
            %a{:href => ""} Menciones Legales
