#wrapper-header
  .container
    .logo
      %a{:href => "empleados-index.html"}
        %img{:src => "images/logo.png", :alt => "Decathlon"}/

    .button-menu
      %span.lines
    .content-menu
      - if current_page.data.section == 'empleados'
        - if current_page.data.type_page == 'home'
          .page-links.scrolling
            %ul
              %li.active
                %a{:href => 'empleados-se-la-tienda-mas-ecologica.html'}
                  %span.circle
                  %span.text Sé la tienda más ecológica
              %li
                %a{:href => 'empleados-gestion-sostenibilidad.html'}
                  %span.circle
                  %span.text Gestión sostenibilidad local
              %li
                %a{:href => 'empleados-que-hacemos.html'}
                  %span.circle
                  %span.text ¿Qué hacemos?
              %li
                %a{:href => 'empleados-ranking-nacional.html'}
                  %span.circle
                  %span.text Ranking nacional
          .account-item
            .log-out
              %a{:href => ""}
                Cerrar Sesión
        - else
          .page-links
            %ul
              %li{nav_active('Decathlon Medio Ambiente | Formulario de inscripción 2016')}
                %a{:href => 'empleados-se-la-tienda-mas-ecologica.html'}
                  %span.circle
                  %span.text Sé la tienda más ecológica
              %li{nav_active('Decathlon Medio Ambiente | Gestion Sostenibilidad')}
                %a{:href => 'empleados-gestion-sostenibilidad.html'}
                  %span.circle
                  %span.text Gestión sostenibilidad local
              %li{nav_active('Decathlon Medio Ambiente | Que hacemosl')}
                %a{:href => 'empleados-que-hacemos.html'}
                  %span.circle
                  %span.text ¿Qué hacemos?
              %li{nav_active('Decathlon Medio Ambiente | Ranking Nacional')}
                %a{:href => 'empleados-ranking-nacional.html'}
                  %span.circle
                  %span.text Ranking nacional
          .account-item
            .username
              %span
                Tienda Granada
              %i.icon-user
      - else
        - if current_page.data.type_page == 'home'
          .page-links.scrolling
            %ul
              %li.active
                %a{:href => 'usuarios-que-hacemos.html'}
                  %span.circle
                  %span.text Medio ambiente
              %li
                %a{:href => 'usuarios-participa.html'}
                  %span.circle
                  %span.text Participa
              %li
                %a{:href => 'usuarios-ranking-nacional.html'}
                  %span.circle
                  %span.text Ranking nacional
          .account-item
            .username
              %span
                Soy Colaborador
              %i.icon-user
        - else
          - if current_page.data.type_page == 'internal_article'
            .page-links
              %ul
                %li
                  %span.circle
                  %span.text
                    &nbsp;
                %li.active
                  %span.circle
                  %span.text 
                  = current_page.data.title_article
                %li
                  %span.circle
                  %span.text
                    &nbsp;
            .account-item
              .username
                %span
                  Tienda Granada
                %i.icon-user
          - else
            .page-links
              %ul
                %li{nav_active('usuarios-se-la-tienda-mas-ecologica.html')}
                  %span.circle
                  %span.text Sé la tienda más ecológica
                %li{nav_active('usuarios-gestion-sostenibilidad.html')}
                  %span.circle
                  %span.text Gestión sostenibilidad local
                %li{nav_active('usuarios-que-hacemos.html')}
                  %span.circle
                  %span.text ¿Qué hacemos?
                %li{nav_active('usuarios-ranking-nacional.html')}
                  %span.circle
                  %span.text Ranking nacional
            .account-item
              .username
                %span
                  Tienda Granada
                %i.icon-user
