#wrapper-share
  .container
    .col-sm-10
      %ul.social
        %li Compartir
        %li
          %a.icon-twitter{:href => ""}
        %li
          %a.icon-facebook{:href => ""}
        %li
          %a.icon-youtube{:href => ""}
        %li
          %a.icon-instagram{:href => ""}
    .col-sm-2
      %a.button.green-light.sm.no-margin{:href => ""} Descargar