!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    / Always force latest IE rendering engine or request Chrome Frame
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0 maximum-scale=1.0'}/
    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || ""
    = stylesheet_link_tag "style"
    %link{:rel => "shortcut icon", :type => "image/png", :href => "images/favicon.png"}/
    %link{:rel => "icon", :type => "image/png", :href => "images/favicon.png"}/
    %link{:rel => "icon", :type => "image/x-icon", :href => "images/favicon.ico"}/
    %link{:rel => "apple-touch-icon-precomposed", :sizes =>"114x114", :href => "images/apple-touch-icon-114x114-precomposed.png"}/
    %link{:rel => "apple-touch-icon-precomposed", :sizes =>"72x72", :href => "images/apple-touch-icon-72x72-precomposed.png"}/
    %link{:rel => "apple-touch-icon-precomposed", :href => "images/apple-touch-icon-57x57-precomposed.png"}/

  %body{class: current_page.data.body_class || 'page'}
    / Header
    = partial "layouts/header"
    / Content
    = yield
    / Footer
    = partial "layouts/footer"

  = javascript_include_tag "script"
  %script
    document.body.innerHTML = document.body.innerHTML.replace(/>\s+</g, '><');