.slick-slider
  .slick-prev, .slick-next
    position: absolute
    top: 40%
    z-index: 5
    font-size: 2em
    color: $white
    cursor: pointer
    transition: all 300ms
    &:hover
      background: rgba($white,0.2)
      border-radius: 50%
  .slick-prev
    left: 0px
  .slick-next
    right: 0px
  .slick-list
    margin: 0 2em

#wrapper-carousel
  background: url(../images/bg-carousel.jpg)
  background-size: cover
  .carousel
    .item
      position: relative
      outline: none
      span[class*="hex_"]
        overflow: hidden
        display: block
      .hex_1
        margin: 5% auto
        width: 200px
        height: 200px*1.2
        .hex_2
          width: 200px
          height: 200px*1.5
          transform: translateY(-50%) rotate(60deg)
          transform-origin: 50% 50%
          position: relative
          top: 50%
          .hex_3
            transform: rotate(-120deg)
            transform-origin: 50% 50%
            width: 200px
            height: 200px*1.5
            display: block  
            .content_inner
              display: block
              width: 200px
              height: 200px*1.2
              position: relative
              top: 50%
              transform: translateY(-50%) rotate(60deg)
              text-align: center
              background-position: center
              background-size: cover
              transition: all 300ms
              opacity: 0.5
      .caption
        position: absolute
        color: $white
        font-size: 26px
        +font-bold
        text-align: center
        top: 3.5em
        left: 1em
        right: 1em
        text-transform: uppercase
        transition: all 300ms
        opacity: 0.5
      &:hover
        .hex_1
          .hex_2
            .hex_3
              .content_inner
                opacity: 1
        .caption
          opacity: 1
