[data-icon]:before
  font-family: "Custom Icons" !important
  content: attr(data-icon)
  font-style: normal !important
  font-weight: normal !important
  font-variant: normal !important
  text-transform: none !important
  speak: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

[class^='icon-']:before, [class*=' icon-']:before
  font-family: "Custom Icons" !important
  font-style: normal !important
  font-weight: normal !important
  font-variant: normal !important
  text-transform: none !important
  speak: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  display: block

.icon-twitter:before
  content: "\e000"

.icon-facebook:before
  content: "\e001"

.icon-youtube:before
  content: "\e002"

.icon-instagram:before
  content: "\e003"

.icon-user:before
  content: "\e004"

.icon-play-button:before
  content: "\e005"

.icon-next:before
  content: "\e006"

.icon-back:before
  content: "\e007"
