// ======================================================================================
// Fonts
// ======================================================================================
@font-face
  font-family: 'Roboto Regular'
  src: url('../fonts/Roboto-Regular-webfont.eot')
  src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular-webfont.woff') format('woff'), url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'), url('../fonts/Roboto-Regular-webfont.svg#Roboto-Regular-webfont') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Roboto Bold'
  src: url('../fonts/Roboto-Bold-webfont.eot')
  src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Bold-webfont.woff') format('woff'), url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'), url('../fonts/Roboto-Bold-webfont.svg#Roboto-Bold-webfont') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Custom Icons"
  src: url("../fonts/custom-icons.eot")
  src: url("../fonts/custom-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/custom-icons.woff") format("woff"), url("../fonts/custom-icons.ttf") format("truetype"), url("../fonts/custom-icons.svg#custom-icons") format("svg")
  font-weight: normal
  font-style: normal
  
=font-regular
  font-family: 'Roboto Regular'
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

=font-bold
  font-family: 'Roboto Bold'
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale