// ======================================================================================
// Footer
// ======================================================================================
#wrapper-footer
  .bg-green
    padding: 1em 0
  .bg-dark-green
    padding: 0.5em 0

.menu-footer, .social-footer, .second-menu-footer
  ul
    margin: 0
    padding: 0
    list-style: none
    li
      list-style: none
      display: inline-block
      a
        color: $white
        display: block
        padding: 0 10px
  +bp768
    ul
      li
        a
          padding: 0 15px
.menu-footer
  text-align: center
  margin-bottom: 10px
  ul
    li
      margin-bottom: 20px
      &::after
        content: ''
        display: block
        margin: auto
        height: 2px
        width: 0px
        background: transparent
        transition: width .5s ease, background-color .5s ease
      &:hover
        &:after
          width: 80%
          background: $white
      a
        padding: 0 5px
  +bp768
    text-align: left
    margin-bottom: 0
    ul
      li
        margin-bottom: 0
  +bp960
    ul
      li
        a
          padding: 0 25px
.social-footer
  text-align: center
  ul
    li
      a
        color: rgba($white, 0.5)
        font-size: 25px
        padding: 0 15px
        +prefix(transition, all .5s ease)
        &:hover
          color: rgba($white, 0.8)
  +bp768
    ul
      li
        a
          padding: 0 5px

.second-menu-footer
  text-align: center
  li
    margin-bottom: 20px
    a
      position: relative
      &::after
        content: ''
        border-right: 1px solid $white
        height: 16px
        overflow: hidden
        position: absolute
        top: 5px
        right: 0
    &:last-child
      a
        &::after
          border-right: 0
    &::after
      content: ''
      display: block
      margin: auto
      height: 2px
      width: 0px
      background: transparent
      transition: width .5s ease, background-color .5s ease
    &:hover
      &:after
        width: 80%
        background: $white

  +bp768
    li
      margin-bottom: 0
