// ======================================================================================
// Forms
// ======================================================================================
input[type="text"], input[type="email"], input[type="number"], input[type="date"], input[type="password"], textarea, select
  border: 2px solid #D2D3D4
  border-radius: 2px
  color: #B9BABB
  background: $white
  padding: 7px 15px
  font-size: 18px
  width: 100%

  outline: none

  &.error
    border-color: red

input[type="submit"], input[type="button"], button, .button
  background: $green-light
  color: $white
  border: 0
  padding: 5px 15px
  font-size: 18px
  margin: 10px 0
  display: inline-block
  
  outline: none
  +prefix(transition, all 0.5s ease)
  &:hover
    background: lighten($green-light, 5%)
  &.simple
    background: transparent
    border: 1px solid $white
    &:hover
      background: $white
      color: $green-light
  &.green-light
    background: lighten($green-light, 5%)
    &:hover
      background: lighten($green-light, 10%)
  &.sm
    &.green-light
      +bp768
        background: $green-light
        &:hover
          background: lighten($green-light, 5%)
  &.sm-simple
    background: $green-light
    color: $white
    +bp960
      background: transparent
      border: 1px solid $white
      &:hover
        background: $white
        color: $green-light


  &.no-margin
    margin: 0

.group-fields
  margin-top: 1em
  margin-bottom: 1em
  padding: 0 1em
  overflow: hidden
  +bp768
    padding: 0

.field
  margin-bottom: 20px
  +bp768
    margin-bottom: 0

.field, .fields
  &.required
    .label
      label
        &:before
          content: '*'

label, .label span, .text-field
  position: relative
  font-size: 20px
  letter-spacing: -1px
  padding: 10px 0 0 15px
  display: inline-block
  margin-bottom: 0.7em
  &.bold
    +font-bold
  +bp960
    padding: 10px 0
    margin-bottom: 0

.group-fields
  margin-top: 1em
  margin-bottom: 1em
  padding: 0 1em
  +bp768
    padding: 0

span
  &.error
    color: red
    font-size: 14px
    font-style: italic
    display: block
  text-align: left

.radio, .checkbox
  display: inline-block
  label
    +prefix(box-sizing, border-box)
    border: 2px solid #D2D3D4
    border-radius: 50%
    padding: 10px 0
    text-align: center
    display: inline-block
    vertical-align: middle
    cursor: pointer
    background: $white
    width: 35px
    height: 35px
    position: relative
    &.checked
      color: $gray
      &::before
        content: "✔"
        color: $green-light
        position: absolute
        top: 5px
        right: 0
        text-align: center
        left: 0
  input
    text-indent: -9999px
    visibility: hidden
  span
    font-size: 17px
    display: inline-block
    padding: 5px 0 0 5px
    vertical-align: top
    width: 77%
    +bp768
      width: inherit
    &.compact
      width: 82%
      +bp640
        width: auto

select
  +prefix(appearance, none)
  background: transparent
  -moz-border-radius: 0
  border-radius: 0
  width: 110%
  border: 0
  box-shadow: 0 0 0
  margin-bottom: 0

.select
  .mask
    background: url(../images/arrow-down.png) $white no-repeat 95% center
    overflow: hidden
    border: 2px solid #D2D3D4
    margin-bottom: 1.5em
    cursor: pointer
    &.error
      margin-bottom: 5em
      border: 2px solid #E41615
      label, span
        &.error
          position: absolute
          margin: 0
          width: 78%

.file-custom
  .inputfile 
    width: 0.1px
    height: 0.1px
    opacity: 0
    overflow: hidden
    position: absolute
    z-index: -1
  label
    max-width: 100%
    text-overflow: ellipsis
    white-space: nowrap
    cursor: pointer
    display: inline-block
    padding: 0
    text-align: center
    .textfield
      span
        padding: 0.625rem 1.25rem
        width: 100%
        display: inline-block
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden
        vertical-align: top
        height: 43px
        vertical-align: top
        border: 2px solid #D2D3D4
        background: $white
        text-align: left
        +prefix(box-sizing, border-box)
    .button
      padding: 0.625rem 1.25rem
      display: inline-block
      margin: 0
      text-align: center
  .text
    white-space: initial
    font-size: 15px
    margin: 10px 0
    text-align: left
  &.error
    span
      &.error
        padding-right: 10px
        text-align: right
    label
      .textfield
        span
          border: 2px solid #E41615

.message
  background-color: #e7e7e7
  color: #4f4f4f
  padding: 10px
  &.success
    background-color: #43AC6A
    color: $white
  &.warning
    background-color: #f08a24
    color: $white
  &.info
    background-color: #a0d3e8
    color: #4f4f4f
  &.alert
    background-color: #f04124
    color: $white

