// ======================================================================================
// Header
// ======================================================================================
#wrapper-header
  background: rgba($white, 0.9)
  position: fixed
  top: 0
  width: 100%
  z-index: 20
  .container
    padding: 0.1em
  +bp768
    background: rgba($white, 0.8)


/*
 * Logo
 */
.logo
  text-align: center
  width: 100%
  a
  img
    display: inline-block
    width: 200px
  +bp960
    width: 20%
    text-align: left
    display: inline-block
    vertical-align: top
    img
      width: inherit

//Icon Menu
=lines
  display: inline-block
  width: 25px
  height: 4px
  background: #918f8c
  +prefix(transition, all .3s ease)
.button-menu
  padding: 0.5em 0
  +prefix(transition, all .3s ease)
  cursor: pointer
  position: absolute
  top: 0.4em
  right: 1em
  .lines
    position: relative
    +lines
    &:before,  &:after
      +lines
      position: absolute
      left: 0
      content: ''
      transform-origin: 3.5em/14 center
    &:before 
      top: 8px
    &:after 
      top: -8px

  &.close
    .lines
      background: transparent
      &:before, &:after
        transform-origin: 50% 50%
        top: 0
        width: 25px
      &:before
        transform: rotate3d(0, 0, 1, 45deg)
      &:after
        transform: rotate3d(0, 0, 1, -45deg)
  +bp960
    display: none
    visibility: hidden
// Content Menu
.content-menu
  display: none
  +bp960
    width: 80%
    text-align: left
    display: inline-block

/*
 * Page Links
 */
.page-links
  ul
    margin: 0
    padding: 0.3em 1em 0
    list-style: none
    li
      margin-bottom: 0.5em
      color: #898685
      a
        color: #898685
      span
      .text
      .circle
      &.active, &.hover
        .circle
          background: $green-light
          border-radius: 50%
          height: 10px
          width: 10px
          margin-right: 5px
          display: inline-block
    &.hovering
      .active
        &.hover
          .circle
            background: $green-light
            border-radius: 50%
            height: 10px
            width: 10px
            margin-right: 5px
            display: inline-block
        .circle
          width: 0


  +bp640
    ul
      padding: 0.3em 0 0 0
      text-align: center
      li
        display: inline-block
        vertical-align: top
        padding: 0 20px
        font-size: 13px
        cursor: pointer
        span
          display: inline-block
          vertical-align: middle
        .text
          white-space: nowrap
          max-width: 0
          overflow: hidden
          padding-left: 25px
          transition: max-width .5s ease-in
          -web-kit-transition: max-width .5s ease-in
        .circle
          background: $green-light
          border-radius: 50%
          height: 10px
          width: 10px
          margin-right: 5px
        &.active, &.hover
          .text
            max-width: 200px
      &.hovering
        .active
          &.hover
            .text
              max-width: 200px
          .text
            max-width: 0
  +bp960
    display: inline-block
    width: 80%
    vertical-align: top
    ul
      padding: 1em 0 0 0


/*
 * Account
 */
.account-item
  margin: 0.3em 0
  text-align: center
  a
    display: inline-block
    +font-bold
    font-size: 13px
    color: #726e6d
  .log-out
  .username
    display: block
    +font-bold
    font-size: 13px
    color: #726e6d
    span, i
      display: inline-block
      vertical-align: middle
    i
      font-size: 2em
      color: #006FB5
  +bp960
    margin: 0
    width: 20%
    display: inline-block
    vertical-align: top
    padding: 1em 0 0 0
    a
