// ======================================================================================
// Helpers
// ====================================================================================
.center
  text-align: center

.big
  font-size: 1.3em

.small
  font-size: 0.8em

$lines-positions: top bottom
@each $position in $lines-positions
  .line-#{$position}
    position: relative
    &::before
      content: ''
      border-#{$position}: 1px solid #D3D3D3
      width: 80%
      display: block
      position: absolute
      #{$position}: 0
      left: 10%
      
.height-auto
  +bp320-bp768
    height: 100% !important

/*
 * Backgrounds
 */
.bg-green
  background-color: $green
.bg-dark-green
  background-color: $dark-green

/*
 * Colors
 */
.white
  color: $white

.dark
  color: #4b4747
