// ======================================================================================
// Login
// ======================================================================================
#wrapper-login
  background: url(../images/bg-login.jpg) no-repeat
  padding: 2em 1em
  +bp320-bp768
    padding: 2em 1em
    height: 100% !important
  +bp768
    padding: 6em 0 2em


.logo-login
  img
    width: 312px
    margin: 0 auto
    display: block

.form-login
  background: $whitesmoke
  max-width: 640px
  margin: 2em auto
  padding: 2em 1em
  .title, .subtitle
    +font-bold
    font-size: 26px
    color: #4B4545
  .subtitle
    font-size: 19px
  +bp768
    padding: 2em 3em
