// ======================================================================================
// Content
// ======================================================================================
.container
  padding: 0.5em
  overflow: hidden
  +bp960
    width: 960px
    margin: 0 auto
    padding: 0.5em 0
  +bp1024
    width: 1024px

/*
 * Home
 */
#wrapper-content
  &.internal
    padding-top: 81.19px
    background-size: cover
    +bp960
      padding-top: 60.19px
  &.bg-custom
    background-size: cover
    +bp1200
      background-size: 100%

//Sections Slides
$height-slide-sm : 450px
$height-slide : 600px

=backgrounds-sections
  background-attachment: fixed
  background-repeat: no-repeat
  background-position: center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  min-height: $height-slide-sm
  +bp1200
    min-height: $height-slide

.section-slide
  +backgrounds-sections
  .container
    padding: 1em
    +bp960
      padding: 0

=vertical-aling
  position: absolute
  top: 50%
  left: 0
  -webkit-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)
  width: 100%

.caption-section-slide
  min-height: $height-slide-sm
  .inner-content
    .content
      +font-bold
      font-size: 36px
      line-height: 44px
      color: #686463
      .big
        font-size: 55px
      .small
        font-size: 26px
  &.white
    .inner-content
      .content
        color: $white
        text-shadow: 1px 1px 4px rgba(0,0,0,0.5)
  &.light-gray
    .inner-content
      .content
        color: #918f8c
  &.align-vertical
    position: relative
    .inner-content
      +vertical-aling
  &.align-vertical-sm
    position: relative
    .inner-content
      +bp768
        +vertical-aling
  &.align-bottom
    position: relative
    .inner-content
      position: absolute
      width: 100%
      left: 0
      bottom: 5%
  &.align-multiple
    position: relative
    .align-top, .align-bottom
      position: absolute
      width: 100%
      left: 0
    .align-top
      top: 5%
    .align-bottom
      bottom: 5%
  +bp960
    .inner-content
      .content
        font-size: 39px
        line-height: 44px
        .big
          font-size: 63px
        .small
          font-size: 30px
  +bp1200
    min-height: $height-slide

.wrapper-ranking
  margin-bottom: 1em
  .item
    span[class*="hex_"]
      overflow: hidden
      display: block
    .hex_1
      margin: 5% auto
      width: 280px
      height: 280px*1.2
      .hex_2
        width: 280px
        height: 280px*1.5
        transform: translateY(-50%) rotate(60deg)
        transform-origin: 50% 50%
        position: relative
        top: 50%
        .hex_3
          transform: rotate(-120deg)
          transform-origin: 50% 50%
          width: 280px
          height: 280px*1.5
          display: block  
          .content_inner
            display: block
            width: 280px
            height: 280px*1.2
            position: relative
            top: 50%
            transform: translateY(-50%) rotate(60deg)
            text-align: center
            background-position: center
            background-size: cover
            transition: all 300ms
            &::before, &::after
              +prefix(box-sizing, border-box)
              +prefix(transition, all .5s ease)
            &::before
              background: transparent
              content: ''
              color: transparent
              width: 100%
              height: 100%
              display: block
              position: absolute
              padding: 3em 1em 1em
              font-size: 40px
              +font-bold
            &:hover
              &::before
                content: attr(data-title)
                background: rgba(#007AC0, 0.7)
                color: $white
                text-shadow: 1px 1px 4px rgba(0,0,0,0.5)
              &::after
                content: attr(data-position)
                position: absolute
                top: 20px
                font-size: 8em
                left: 29px
                color: rgba(255,255,255,0.6)
                letter-spacing: -0.2em
    &.first
      position: relative
      z-index: 10
    &.second, &.third
      .hex_1
        width: 230px
        height: 230px*1.2
        .hex_2
          width: 230px
          height: 230px*1.5
          .hex_3
            width: 230px
            height: 230px*1.5
            .content_inner
              width: 230px
              height: 230px*1.2
              &::before
                padding: 3.5em 1em 1em
                font-size: 35px
              &:hover
                &::after
                  font-size: 7em
                  letter-spacing: -0.1em
  +bp320-bp768
    display: -webkit-box
    -webkit-box-orient: vertical
    display: -moz-box
    -moz-box-orient: vertical
    display: -webkit-flexbox
    -webkit-flex-direction: column
    .item
      &.first
        display: -webkit-box
        -webkit-box-ordinal-group: 1
        -moz-box-ordinal-group: 1
        -webkit-flex-order: 1
      &.second
        display: -webkit-box
        -webkit-box-ordinal-group: 2
        -moz-box-ordinal-group: 2
        -webkit-flex-order: 2
      &.third
        display: -webkit-box
        -webkit-box-ordinal-group: 3
        -moz-box-ordinal-group: 3
        -webkit-flex-order: 3

  +bp768
    margin-bottom: 0
    .item
      display: inline-block
      vertical-align: middle
      .hex_1
        margin: 0
      &.second
        margin-right: -2em
      &.third
        margin-left: -2em
        .hex_1
          .hex_2
            .hex_3
              .content_inner
                &:hover
                  &::after
                    left: inherit
                    right: 29px
  +bp1200
    .item
      .hex_1
        margin: 5% 0


// Hexagon Mask

/*
 * Internal Pages
 */
.featured-image
  background-size: cover
  background-position: center center
  position: relative
  +prefix(transition, all .3s ease)
  height: 320px
  .container
    height: 320px
    padding-top: 6em
    .title
      font-size: 34px
      line-height: 46px
      width: 300px
      border-left: 3px solid $green-light
      padding-left: 0.5em
      text-shadow: 1px 1px 5px $black
      &.white
        color: $white
        text-shadow: 1px 1px 4px rgba(0,0,0,0.5)
  +bp768
    .container
      .title
        width: 400px
        font-size: 44px

.wrapper-boxes
  padding: 2em 0
  .box
    position: relative
    height: 120px
    margin-bottom: 1.5em
    border: 1px solid $white
    &.image
      background: url(../images/bg-box.png)
      background-size: cover
      border: 1px solid rgba($white, 0.1)
      opacity: 0.7
      +prefix(transition, opacity 0.5s ease)
      &:hover
        opacity: 1
    &.blue
      background: rgba(#007AC0, 0.15)
      +prefix(transition, background 0.5s ease)
      &:hover
        background: rgba(#007AC0, 0.50)
    &.green
      background: rgba(#009F27, 0.16)
      +prefix(transition, background 0.5s ease)
      &:hover
        background: rgba(#009F27, 0.50)
    &.light-blue
      background: rgba(#009EDB, 0.16)
      +prefix(transition, background 0.5s ease)
      &:hover
        background: rgba(#009EDB, 0.50)
    a
      color: $white
      text-shadow: 1px 1px 4px rgba(0,0,0,0.5)
      height: 100%
      font-size: 25px
      +font-bold
      display: block
    .inner-box
      padding: 0.5em 1em
      word-break: break-word
      +vertical-aling
      font-size: 1em
      line-height: 1em
  +bp768
    padding: 12em 0
  +bp1024
    .box
      .inner-box
        font-size: 32px
        line-height: 33px

/*
 * Article
 */
.article
  p, ul
    font-size: 18px
  +bp768
    p, ul
      font-size: 22px

.main-title
  font-size: 34px
.title
  font-size: 30px
+bp768
  .main-title
    font-size: 39px
  .title
    font-size: 34px

.steps
  counter-reset: counter-steps
  padding: 0
  & > li
    position: relative
    list-style: none
    padding: 0 0 0 3em
    margin-bottom: 2em
    &:before
      content: 'Paso'
      position: absolute
      left: 0
      color: $green-light
      top: 0em
      font-size: 0.8em
    &::after
      content: counter(counter-steps)
      counter-increment: counter-steps
      position: absolute
      left: 0
      top: 1.3em
      background: $green-light
      color: $white
      text-shadow: 1px 1px 4px rgba(0,0,0,0.5)
      text-align: center
      font-style: normal
      border-radius: 50%
      width: 40px
      height: 40px
      padding: 0.2em 0
      +prefix(box-sizing, border-box)

/*
 * Ranking Nacional
 */
.wrapper-ranking-full, .wrapper-actions
  padding: 2em 0
  overflow: hidden
  +prefix(transition, all .5s ease)
  +bp960
    padding: 5em 0
.map-spain
  position: relative
  margin-bottom: 1em
  +prefix(transition, all .5s ease)
  .pin
    position: absolute
    width: 34px
    height: 34px
    display: block
    background: #0091D0
    color: $white
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5)
    border-radius: 50% 50% 50% 0
    -webkit-transform: rotate(-45deg)
    -moz-transform: rotate(-45deg)
    -o-transform: rotate(-45deg)
    -ms-transform: rotate(-45deg)
    transform: rotate(-45deg)
    cursor: pointer
    +prefix(transition, all .3s ease)
    &:before
      content: 'D'
      -webkit-transform: rotate(45deg)
      -moz-transform: rotate(45deg)
      -o-transform: rotate(45deg)
      -ms-transform: rotate(45deg)
      transform: rotate(45deg)
      position: absolute
      +font-bold
      font-size: 1.2em
      top: 4px
      left: 12px
    &:hover, &.active
      background: darken(#0091D0, 10%)
  +bp768
    .pin
      width: 45px
      height: 45px
      &:before
        font-size: 1.8em
        top: 2px
        left: 15px
      &.big
        width: 90px
        height: 90px
        &:before
          font-size: 4em
          top: -8px
          left: 20px

//Chart action
.chart-action
  padding: 0
  .title-action
    color: $white
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5)
    font-size: 18px
    line-height: 30px
    margin-bottom: 1em
    display: inline-block
    vertical-align: top
    width: 72%
    .store
      font-size: 45px
      +font-bold
  .points-action
    color: $white
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5)
    position: relative
    text-align: right
    margin-bottom: 1em
    display: inline-block
    vertical-align: top
    width: 28%
    .point
      font-size: 44px
      border: 2px solid $white
      border-radius: 5px
      +font-bold
      display: inline-block
    .text
      font-size: 16px
      position: absolute
      bottom: -10px
      right: 5px
      background: #002A43
      padding: 0 5px
  .content
    p
      background: #002A43
      color: $white
      text-shadow: 1px 1px 4px rgba(0,0,0,0.5)
      font-size: 13px
      margin: 0
      padding: 1em

/*
 * Actions
 */
.action-info
  padding: 1em
  background: #EFEFEF
  font-size: 23px
  color: #4b4747

.wrapper-actions
  .item
    background: #EFEFEF
    color: #4b4747
    padding: 0.3em 0.5em
    margin-bottom: 0.3em
    font-size: 23px
    &:hover, .active
      background: #007AC0
      color: $white
      text-shadow: 1px 1px 4px rgba(0,0,0,0.5)
    .name-action, .points-action
      padding-top: 0.5em
    .points-action
    .button-action

.cta-actions
  overflow: hidden
  text-align: center
  .text
    +font-bold
    color: $gray
    font-size: 50px
  +bp960
    padding-top: 14em
    text-align: left
    .text
      color: $white
      text-shadow: 1px 1px 4px rgba(0,0,0,0.5)
  +bp1200
    padding-top: 10em
  +bp1440
    padding-top: 16em
  +bp1600
    padding-top: 19em

.wrapper-message
  background-image: url(../images/image-message.png)
  background-size: 150%
  background-repeat: no-repeat
  background-position: center center
  padding: 5em 0
  +bp768
    background-size: 100%

.message-big
  font-size: 30px
  +font-bold
  span
    font-size: 25px
    display: block
    +font-regular
  +bp480
    padding: 3em 0 0 0
    font-size: 43px
    span
      font-size: 30px
  +bp640
    padding: 5em 0 0 0
  +bp768
    padding: 6em 0 0 0
  +bp1024
    padding: 4em 0 0 0
  +bp1440
    padding: 5em 0 0 0
  +bp1600
    padding: 8em 0 0 0

.year
  font-size: 70px
  color: $white
  text-shadow: 1px 1px 4px rgba(0,0,0,0.5)
  +font-bold
  text-align: center
.middle-info
  font-size: 20px
  text-align: center
  +font-bold
  line-height: 21px
  padding: 0 2em
  span
    text-align: center
    font-size: 17px
    display: block
    color: #615e5e

.pagination
  ul
    margin: 0
    padding: 0
    text-align: center
    li
      display: inline-block
      +font-bold
      background: lighten($green, 10%)
      padding: 10px
      font-size: 18px
      color: #fff
      margin: 1em 0.1em
      &.prev, &.next

      &.disabled
        background: #ccc
      &.active
        background: $green










