// ======================================================================================
// Mixins
// ======================================================================================

// Breakpoints helpers

// 480px
=bp480
  @media screen and (min-width: 480px)
    @content

// 640px
=bp640
  @media screen and (min-width: 640px)
    @content

// 320px and 959px
=bp320-bp960
  @media screen and (min-width: 320px) and (max-width: 959px)
    @content

// 640px and 959px
=bp640-bp960
  @media screen and (min-width: 640px) and (max-width: 959px)
    @content

// 640px and 959px
=bp768-bp1200
  @media screen and (min-width: 768px) and (max-width: 1199px)
    @content

// 320px and 768px
=bp320-bp768
  @media screen and (min-width: 320px) and (max-width: 767px)
    @content

// 768px
=bp768
  @media screen and (min-width: 768px)
    @content

// 960px
=bp960
  @media screen and (min-width: 960px)
    @content

// 1024px
=bp1024
  @media screen and (min-width: 1024px)
    @content

// 1140px
=bp1140
  @media screen and (min-width: 1140px)
    @content

// 1200px
=bp1200
  @media screen and (min-width: 1200px)
    @content

// 1280px
=bp1280
  @media screen and (min-width: 1280px)
    @content

// 1440px
=bp1440
  @media screen and (min-width: 1440px)
    @content

// 1600px
=bp1600
  @media screen and (min-width: 1440px)
    @content

// Em to px helper
@function em($px, $base: $base-font-size)
  @return ($px / $base) * 1em

// Prefixes
$default-prefixes: webkit moz ms o
=prefix($property, $value, $prefixes: $default-prefixes)
  @each $prefix in $prefixes
    -#{$prefix}-#{$property}: #{$value}
  #{$property}: #{$value}

// Line Clamp
=line-clamp($lines)
  overflow: hidden
  text-overflow: ellipsis
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-line-clamp: $lines