// ======================================================================================
// Share
// ======================================================================================
#wrapper-share
  background: url(../images/bg-share.jpg)
  background-size: cover
  height: 210px
  background-position: 12% 0
  text-align: center
  +bp768
    background-position: 18% 0
    height: 150px
    text-align: left
  +bp960
    background-position: 22% 0
  +bp1280
    background-position: 0 0

  .container
    padding: 5em 0.5em 0
    +bp768
      padding: 6em 0.5em 0

  .social
    padding: 0
    margin: 1.5em 0 2em 0
    li
      display: inline-block
      vertical-align: top
      color: $white
      list-style: none
      font-size: 20px
      +font-bold
      a
        color: $white
        font-size: 25px
        display: block
        margin: 0 5px
        opacity: 0.8
        transition: all 300ms
      &:hover
        a
          opacity: 1
    +bp768
      margin: 0




