// ======================================================================================
// Tags
// ======================================================================================
*
  +prefix(box-sizing, border-box)

::selection
  background: rgba($white, 0.5)
  color: rgba($black, 0.7)

a
  color: $link-color
  text-decoration: none

body
  background: $white
  color: $gray
  font-size: $base-font-size
  overflow-x: hidden
  +font-regular

h1, h2, h3, h4, h5, h6
  font-weight: normal
  margin: 0.5em 0
  color: $gray
  +font-bold

img
  max-width: 100%
  height: auto
  display: block

hr
  background: #D3D3D3
  height: 1px
  border: 0