---
title: Decathlon Medio Ambiente | Formulario de inscripción 2016
body_class: internal
type_page: internal_article
title_article: Memoria sostenible
section: empleados
---
%section#wrapper-content.internal.bg-custom{:style => "background-image: url(images/bg-actions.jpg); background-position: top center; background-repeat: no-repeat;"}
  .container
    .wrapper-actions
      %h1.main-title.dark Sé la tienda más ecológica de España

      %p Descripción de 140 caracteres, que explique la dinámica de Ecothlon

      .col-md-9
        .item.col-sm-12
          .name-action.col-sm-7
            Mi centro ha participado en las últimas “Acciones de voluntariado ambiental”.
          .points-action.col-sm-3
            +5000 pts
          .button-action.col-sm-2
            %a.button{:href => "#"} Participa
        .item.col-sm-12
          .name-action.col-sm-7
            Mi tienda/almacén ha puesto a disposición de los colaboradores y clientes los Kits Oxelo de movilidad.
          .points-action.col-sm-3
            +5000 pts
          .button-action.col-sm-2
            %a.button{:href => "#"} Participa
        .item.col-sm-12
          .name-action.col-sm-7
            Todos los interruptores de mi tienda/almacén tienen la pegatina de aviso de apagado.
          .points-action.col-sm-3
            +1000 pts
          .button-action.col-sm-2
            %a.button{:href => "#"} Participa
        .item.col-sm-12
          .name-action.col-sm-7
            El 100% de l@s colaboradores/as indefinid@s de mi tienda/almacén recibido la formación “sobre eco-diseño”.
          .points-action.col-sm-3
            +2500 pts
          .button-action.col-sm-2
            %a.button{:href => "#"} Participa
        .item.col-sm-12
          .name-action.col-sm-7
            La tasa de reciclado de mi tienda/almacén alcanza un 90%.
          .points-action.col-sm-3
            +2500 pts
          .button-action.col-sm-2
            %a.button{:href => "#"} Participa

      .cta-actions.col-md-3
        .text ¡Propón Acciones!
        %a.button.sm-simple{:href => ""} Ingresa Aqui

      .pagination.col-md-12
        %ul
          %li.prev.disabled
            %span <
          %li.active
            %span 1
          %li
            %span 2
          %li
            %span 3
          %li
            %span 4
          %li.next.disabled
            %span >
