---
title: Decathlon Medio Ambiente | Home
body_class: home
type_page: home
title_article: Home
section: empleados
---
%section#wrapper-content
  .section-slide{:style => "background-image: url(images/parallax-tienda-ecologica.jpg); background-position: top center;"}
    .container
      .caption-section-slide.align-vertical.white
        .inner-content
          .content
            Se la tienda
            .big más ecológica
            de España!
          .button-container
            %a.button{:href => "se-la-tienda-mas-ecologica.html"} Saber más
  .section-slide{:style => "background-image: url(images/parallax-sostenibilidad.jpg)"}
    .container.center
      .caption-section-slide.align-bottom.light-gray
        .inner-content
          .content
            Gestión sostenibilidad local
          .button-container
            %a.button.center{:href => "gestion-sostenibilidad.html"} Saber más
  .section-slide{:style => "background-image: url(images/parallax-que-hacemos.jpg)"}
    .container
      .caption-section-slide.align-vertical
        .inner-content
          .content
            ¿Qué hacemos
            .big en Decathlon
            .small por el medio ambiente?
          .button-container
            %a.button{:href => "que-hacemos.html"} Saber más
  .section-slide{:style => "background-image: url(images/parallax-ranking-nacional.jpg)"}
    .container.center
      .caption-section-slide.align-vertical-sm.white
        .inner-content
          .content
            Ranking Nacional
          .wrapper-ranking
            .item.second
              %span.hex_1
                %span.hex_2
                  %span.hex_3
                    %span.content_inner{:style => "background-image: url(images/store-second.jpg)", "data-title" => "Tienda Madrid", "data-position" => "2º"}
            .item.first
              %span.hex_1
                %span.hex_2
                  %span.hex_3
                    %span.content_inner{:style => "background-image: url(images/store-first.jpg)", "data-title" => "Tienda Alicante", "data-position" => "1º"}
            .item.third
              %span.hex_1
                %span.hex_2
                  %span.hex_3
                    %span.content_inner{:style => "background-image: url(images/store-third.jpg)", "data-title" => "Tienda Cataluña", "data-position" => "3º"}
          .button-container
            %a.button.simple.center{:href => "ranking-nacional.html"} Ver todas las tiendas







