---
title: Decathlon Medio Ambiente | Que hacemos
body_class: internal
type_page: internal_page
title_article: Que hacemos
section: empleados
---
%section#wrapper-content.internal{:style => "background-image: url(images/bg-que-hacemos.jpg); background-position: top center;"}
  .container
    .wrapper-boxes.row
      .col-sm-4
        .box.image
          %a{:href => "#"}
            .inner-box
              Eco-diseño
              %br/
              Eco-etiquetado
      .col-sm-4
        .box.blue
          %a{:href => "#"}
            .inner-box
              Huella de carbono
      .col-sm-4
        .box.green
          %a{:href => "#"}
            .inner-box
              Reciclado
      .col-sm-4
        .box.light-blue
          %a{:href => "#"}
            .inner-box
              Reutilización -trocathlon
      .col-sm-4
        .box.green
          %a{:href => "#"}
            .inner-box
              Ética de producción
      .col-sm-4
        .box.blue
          %a{:href => "#"}
            .inner-box
              Eficiencia energética
      .col-sm-4
        .box.green
          %a{:href => "#"}
            .inner-box
              Movilidad sostenible
      .col-sm-4
        .box.blue
          %a{:href => "#"}
            .inner-box
              Fundación
              %br/
              Decathlon
      .col-sm-4
        .box.green
          %a{:href => "#"}
            .inner-box
              Construcción
              %br/
              sostenible

