---
title: Decathlon Medio Ambiente | Formulario de inscripción 2016
body_class: internal
type_page: internal_article
title_article: Memoria sostenible
section: empleados
---
%section#wrapper-content.internal{:style => "background-image: url(images/bg-skateboard.jpg); background-position: top center;background-size: cover;"}
  .container
    .wrapper-actions
      %h1.main-title.dark Sé la tienda más ecológica de España

      .row
        .col-sm-9
          %form#validateForm{:action => ""}
            .group-fields.row
              .col-md-8
                .fields.row.required
                  .field.col-md-12
                    %input{:type => "text", :class => "required", :id => "nombre-accion", :name => "nombre-accion", :placeholder => "Nombre de la acción"}/
            .group-fields.row
              .col-md-8
                .fields.row.required
                  .field.col-md-12
                    %input{:type => "text", :class => "required", :id => "nombre", :name => "nombre", :placeholder => "Nombre del colaborador"}/
              .col-md-4
                .fields.row
                  .field.select.col-md-12
                    .mask
                      %select{:class => "required", :id => "selecttienda", :name => "selecttienda"}
                        %option{:value => "", :selected => "selected"} Seleccionar Tienda
                        %option{:value => "Alicante"} Alicante
                        %option{:value => "Alicante"} Alicante
                        %option{:value => "Alicante"} Alicante
                        %option{:value => "Alicante"} Alicante
                        %option{:value => "Alicante"} Alicante
                        %option{:value => "Alicante"} Alicante

            %p.big Describe Brevemente en que consiste la acción y como ayuda al medio ambiente
            .group-fields.row
              .col-md-12
                .fields.row.required
                  .field.col-md-12
                    %textarea.required{:name => "", :cols => "30", :rows => "10"}

            %p *Maximo 500 caracteres


            .group-fields
              .button-container.center
                %input{:type => "submit", :value => "Enviar"}/