---
title: Decathlon Medio Ambiente | Ranking Nacional
body_class: internal
type_page: intenal_page
title_article: Ranking Nacional
section: empleados
---
%section#wrapper-content.internal{:style => "background-image: url(images/bg-ranking-nacional.jpg); background-position: top center;background-size: cover;"}
  .container
    .wrapper-ranking-full
      %h1.main-title.white Ranking Nacional
      .map-spain.col-sm-8
        %img{:src => "images/spain.png", :alt => ""}/
        .pin{:style => "top: 11%;left: 27%;", "data-tienda" => "Tenerife", "data-puntos" => "189", "data-img" => "images/action.png", "data-text" => "Integer non fermentum purus. Fusce molestie pretium massa et vulputate. Duis non sem sit amet orci imperdiet ornare at quis lacus."}
        .pin.big{:style => "top: 9%;left: 47%;", "data-tienda" => "Dolor", "data-puntos" => "123", "data-img" => "images/action.png", "data-text" => "Integer non fermentum purus. Fusce molestie pretium massa et vulputate. Duis non sem sit amet orci imperdiet ornare at quis lacus."}
        .pin{:style => "top: 16%;left: 77%;", "data-tienda" => "Ipsum", "data-puntos" => "102", "data-img" => "images/action.png", "data-text" => "Integer non fermentum purus. Fusce molestie pretium massa et vulputate. Duis non sem sit amet orci imperdiet ornare at quis lacus."}
        .pin{:style => "top: 32%;left: 49%;", "data-tienda" => "Lorem", "data-puntos" => "197", "data-img" => "images/action.png", "data-text" => "Integer non fermentum purus. Fusce molestie pretium massa et vulputate. Duis non sem sit amet orci imperdiet ornare at quis lacus."}
        .pin.big{:style => "top: 39%;left: 19%;", "data-tienda" => "Amet", "data-puntos" => "29", "data-img" => "images/action.png", "data-text" => "Integer non fermentum purus. Fusce molestie pretium massa et vulputate. Duis non sem sit amet orci imperdiet ornare at quis lacus."}
        .pin{:style => "top: 39%;left: 34%;", "data-tienda" => "John Doe", "data-puntos" => "279", "data-img" => "images/action.png", "data-text" => "Integer non fermentum purus. Fusce molestie pretium massa et vulputate. Duis non sem sit amet orci imperdiet ornare at quis lacus."}
        .pin.big{:style => "top: 43%;left: 58%;", "data-tienda" => "Otro lugar", "data-puntos" => "20", "data-img" => "images/action.png", "data-text" => "Integer non fermentum purus. Fusce molestie pretium massa et vulputate. Duis non sem sit amet orci imperdiet ornare at quis lacus."}
        .pin{:style => "top: 69%;left: 31%;", "data-tienda" => "Decathlon", "data-puntos" => "162", "data-img" => "images/action.png", "data-text" => "Integer non fermentum purus. Fusce molestie pretium massa et vulputate. Duis non sem sit amet orci imperdiet ornare at quis lacus."}
      .chart-action
/        .title-action
/          Acciones que realiza
/          .store
/            Tenerife
/        .points-action
/          .point 189 
/          .text puntos
/        .content
/          %img{:src => "images/action.png"}/
/          %p Integer non fermentum purus. Fusce molestie pretium massa et vulputate. Duis non sem sit amet orci imperdiet ornare at quis lacus.
