!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    / Always force latest IE rendering engine or request Chrome Frame
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0 maximum-scale=1.0'}/
    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || "Decathlon"
    = stylesheet_link_tag "style"
    %link{:rel => "shortcut icon", :type => "image/png", :href => "images/favicon.png"}/
    %link{:rel => "icon", :type => "image/png", :href => "images/favicon.png"}/
    %link{:rel => "icon", :type => "image/x-icon", :href => "images/favicon.ico"}/
    %link{:rel => "apple-touch-icon-precomposed", :sizes =>"114x114", :href => "images/apple-touch-icon-114x114-precomposed.png"}/
    %link{:rel => "apple-touch-icon-precomposed", :sizes =>"72x72", :href => "images/apple-touch-icon-72x72-precomposed.png"}/
    %link{:rel => "apple-touch-icon-precomposed", :href => "images/apple-touch-icon-57x57-precomposed.png"}/

  %body{class: current_page.data.body_class || 'page'}
    #wrapper-login
      .logo-login
        %img{:src => "images/logo.png", :alt => "Decathlon"}/
      
      .form-login.center
        %h1.title Introduce tu usuario y password de colaborador
        .message.success{:style => "display: none"}
          Usuario y contraseña correctos.
        .message.alert{:style => "display: none"}
          El usuario y/o contraseña no coinciden.
        .message.info{:style => "display: none"}
          En el momento no esta funcionando este formulario.
        .message.warning{:style => "display: none"}
          Parece que has escrito valores erroneos.
        %form#validateForm{:action => ""}
          .section.line-bottom
            .group-fields
              .fields.row
                .field.col-sm-6
                  %input.required{:type => "text", :placeholder => "Usuario", :name => "username_login", :id => "username_login"}/
                .field.col-sm-6
                  %input.required{:type => "password", :placeholder => "Contraseña", :name => "password_login", :id => "password_login"}/
            .group-fields
              .button-container
                %input{:type => "submit", :value => "Entrar"}/
        .section
          %h2.subtitle ¿No eres colaborador?
          %a.button{:href => ""} Da clic aqui para ingresar a Decathlon medio ambiente

    = partial "layouts/footer"

  = javascript_include_tag "script"
  %script
    document.body.innerHTML = document.body.innerHTML.replace(/>\s+</g, '><');
