---
title: Decathlon Medio Ambiente | Formulario de inscripción 2016
body_class: internal
type_page: internal_article
title_article: Memoria sostenible
section: empleados
---
%section#wrapper-content.internal.height-auto{:style => "background-image: url(images/bg-whitesmoke.jpg); background-position: top center;background-size: cover;background-repeat: no-repeat;"}
  .container
    .wrapper-message.center.height-auto
      .message-big.white
        ¡Gracias por participar!
        %span.center
          Tu solicitud será evaluada

= partial "layouts/carousel-bottom"