---
title: Decathlon Medio Ambiente | Formulario de inscripción 2016
body_class: internal
type_page: internal_article
title_article: Memoria sostenible
section: empleados
---
%section#wrapper-content.internal{:style => "background-image: url(images/bg-skateboard.jpg); background-position: top center;background-size: cover;"}
  .container
    .wrapper-actions
      %h1.main-title.dark Sé la tienda más ecológica de España
      %p.row
        .col-sm-4.big.dark Mobiliario de madera
        .col-sm-3.big.dark +400 pts
      .row
        .col-sm-12
          %form#validateForm{:action => ""}
            .row
              .col-sm-9
                .group-fields.row
                  .col-md-8
                    .fields.row.required
                      .field.col-md-12
                        %input{:type => "text", :class => "required", :id => "nombre", :name => "nombre", :placeholder => "Nombre del colaborador"}/
                  .col-md-4
                    .fields.row
                      .field.select.col-md-12
                        .mask
                          %select{:class => "required", :id => "selecttienda", :name => "selecttienda"}
                            %option{:value => "", :selected => "selected"} Seleccionar Tienda
                            %option{:value => "Alicante"} Alicante
                            %option{:value => "Alicante"} Alicante
                            %option{:value => "Alicante"} Alicante
                            %option{:value => "Alicante"} Alicante
                            %option{:value => "Alicante"} Alicante
                            %option{:value => "Alicante"} Alicante

                %p.big ¿Como lo habéis hecho? / Cuentas tu experiencia
                .group-fields.row
                  .col-md-12
                    .fields.row
                      .field.col-md-12
                        %textarea{:name => "", :cols => "30", :rows => "10"}

                %p.big Recuerda que para sumar puntos, debes tener una imagen o video que compruebe la actividad

                .group-fields.row
                  .col-md-12
                    .fields.row.required
                      .label.col-md-3
                        %label.bold Subir imagen
                      .field.file-custom.col-md-9
                        %input.inputfile{"data-multiple-caption" => "{count} files selected", :id => "uploadFile", :type => "file", :name => "adjuntar-cv", :class => "required"}/
                        %label.col-sm-12{:for => "uploadFile"}
                          .button.col-md-4.col-sm-4 Seleccionar archivo
                          .textfield.col-md-8.col-sm-8
                            %span
                        .text Solo se admiten fotografias en formato .jpg y máximo de 1mb., los videos deben venir en formato .mp4 y máximo de 5mb. El nombre del archivo no debe contener puntos, acentos o caracteres especiales, ejemplo de archivo correcto: video.mp4

            .group-fields.row
              .col-sm12
                .button-container.center
                  %input{:type => "submit", :value => "Enviar"}/