---
title: Decathlon Medio Ambiente | Perchas, ficha de consumo
body_class: internal
type_page: internal_article
title_article: Gestión Sostenibilidad local
section: empleados
---
%section#wrapper-content.with-featured-image
  .featured-image{:style => "background-image: url(images/bg-internal.jpg)"}
    .container
      %h1.title.white ¿Cómo tratar las perchas HANG-UP?
  .container
    .article
      %h2.main-title ¿Cómo tratar las perchas HANG-UP?
      %p 
        Un paso más en el proyecto. Estamos preparados para dar el salto y comenzar a 
        %strong.green retirar todas las perchas 
        en línea de cajas:
      %ul
        %li 
          Ya está montada la 
          %strong infraestructura
          necesaria para el retorno masivo.
        %li 
          9 de cada 10 
          %strong clientes prefieren
          que las quitemos y reciclemos nosotros.
        %li
          El gesto de retirada en caja no es significativo a nivel 
          %strong productividad.
      %ul.steps
        %li
          %p 
          A partir de Noviembre de 2015 la azafata puede 
          %strong QUITAR TODAS LAS PERCHAS EN CAJA, 
          si el flujo de clientes lo permite.
          %ul
            %li 
              Dentro de las papeleras Hang Up, ponemos estas cajas re-utilizables. 
              %strong No bolsas de plástico.
            %li
              La empresa de limpieza vacía las cajas en el mueble para perchas o en las bolsas de reciclaje. 
              %strong Reducimos al máximo el uso de bolsas.
            %li
              En fila única y caja tradicional, ponemos las estas cajas negras por dentro de la caja para que la azafata ponga las perchas dentro.

        %li
          %p
          Ponemos las perchas en estas, y solo estas, 
          %strong bolsas de reciclaje
          (hechas de material elástico, tienen agujeros y asas para cerrarse bien):

        %li
          %p 
          %strong.green RETORNAMOS 
          las bolsas con perchas al almacén en los camiones de retorno de cada día.
          %p
            %strong Las perchas antiguas,
            con gancho metálico, deben reciclarse en nuestros propios compactadores. No se retornan. 
            %strong.red NUNCA SE MEZCLAN CON LAS PERCHAS HANG-UP.

        %li
          %p Los almacenes reciben las perchas embolsadas en los camiones de retorno de todas las tiendas y las acumulan en compactadores o contenedores instalados exclusivamente con este fin.

        %li
          %p 
          Las empresa de reciclaje acumulan estas bolsas y hacen grandes Balas de 800kg que acumulan hasta tener un camión completo que enviar a 
          %strong MAINETTI 
          (empresa que suministra las perchas a nuestras fábricas).

        %li
          %p
          Mainetti recoge las perchas en nuestras plantas de reciclaje y las vuelve a poner en nuestras fábricas.

= partial "layouts/share"
= partial "layouts/carousel-bottom"






