---
title: Decathlon Medio Ambiente | Gestion Sostenibilidad
body_class: internal
type_page: intenal_page
title_article: Gestión sostenibilidad
section: empleados
---
%section#wrapper-content.internal{:style => "background-image: url(images/bg-sostenibilidad.jpg); background-position: top center;"}
  .container
    .wrapper-boxes.row
      .col-sm-4
        .box.image
          %a{:href => "perchas-ficha-de-consumo.html"}
            .inner-box
              Perchas, 
              %br/
              ficha de consumo
      .col-sm-4
        .box.blue
          %a{:href => "#"}
            .inner-box
              Proyecto medioambiental
      .col-sm-4
        .box.green
          %a{:href => "#"}
            .inner-box
              Gestión de residuos
      .col-sm-4
        .box.light-blue
          %a{:href => "#"}
            .inner-box
              Balizajes y Cartelería
      .col-sm-4
        .box.green
          %a{:href => "#"}
            .inner-box
              Voluntariado
      .col-sm-4
        .box.blue
          %a{:href => "#"}
            .inner-box
              Mobiliario
      .col-sm-4.col-sm-offset-4
        .box.blue
          %a{:href => "#"}
            .inner-box
              Movilidad

