---
title: Decathlon Medio Ambiente | Formulario de inscripción 2016
body_class: internal
type_page: internal_article
title_article: Acciones 2016
section: usuarios
---
%section#wrapper-content.internal{:style => "background-image: url(images/bg-form.jpg); background-position: top center;background-size: cover;"}
  .container
    .wrapper-ranking
      %h1.main-title.dark Formulario de inscripción 2016
      
      .action-info.row
        .col-sm-6
          Acción: Pintamos Rosa, Tienda Granada
        .col-sm-6
          Día y hora: 11 de abril, 3 pm Lugar.

      %form#validateForm{:action => ""}
        .group-fields.row
          .col-md-5
            .fields.row.required
              .label.col-md-3
                %label Nombre(s)
              .field.col-md-9
                %input{:type => "text", :class => "required", :id => "nombres", :name => "nombres"}/
          .col-md-7
            .fields.row.required
              .label.col-md-2
                %label Apellidos
              .field.col-md-10
                %input{:type => "text", :class => "required", :id => "apellidos", :name => "apellidos"}/

        .group-fields.row
          .col-md-5
            .fields.row.required
              .label.col-md-3
                %label Edad
              .field.col-md-9
                %input{:type => "text", :class => "required", :id => "edad", :name => "edad"}/
          .col-md-5
            .fields.row
              .label.col-md-4
                %label Género
              .field.radio.col-md-4.col-xs-6
                %label{:for => "male"}
                %input{:name => "genre", :id => "male", :type => "radio"}
                %span Hombre
              .field.radio.col-md-4.col-xs-6
                %label{:for => "female"}
                %input{:name => "genre", :id => "female", :type => "radio"}
                %span Mujer


        .group-fields.row
          .col-md-5
            .fields.row.required
              .label.col-md-3
                %label Correo
              .field.col-md-9
                %input{:type => "text", :class => "required", :id => "correo", :name => "correo"}/

        .group-fields
          .button-container
            %input{:type => "submit", :value => "Inscribir más participantes"}/

        .small
          *puedes inscribir un máximo de 3 participantes, recuerda que solo podrán participar las personas inscritas

        .group-fields
          .button-container.center
            %input{:type => "submit", :value => "Enviar"}/


